.layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid:
    "header header" 0.3fr
    "navbar animation" auto
    / auto 0.8fr;
  gap: 20px ;

  justify-content: stretch;
  align-content: stretch;
}

.header { grid-area: header;
  outline: 1px solid white;
}
.navbar { grid-area: navbar;
  outline: 1px solid white;

}
.animation { grid-area: animation;
  outline: 1px solid white;

}