.layout {
  width: 98vw;
  height: 98vh;
  display: grid;
  grid:
    "header header" 0.3fr
    "navbar animation" auto
    / 0.2fr 0.8fr;
  gap: 20px ;

  justify-content: center;
  align-content: stretch;

}

.header { grid-area: header;
  outline: 1px solid white;
}
.hero-text{
  font-size: 100px;
}
.navbar { grid-area: navbar;
  outline: 1px solid white;

}
.animation { grid-area: animation;
  outline: 1px solid white;

}