*{
  text-decoration: none;

  font-family: "JetBrains Mono", monospace;

}

ul, ol {
  list-style-type: none;

}

.layout {
  margin-left: 15vw;
  margin-right: 15vw;

  margin-top: 5vh;
  margin-bottom: 5vh;

  width: 70vw;
  height: 90vh;
  display: grid;
  grid:
    "header header" 1fr
    "search navbar" 0.1fr
    /* "navbar animation" 1fr */

    / 1fr 0.5fr;
  gap: 30px;

}

.header {
  grid-area: header;
  outline: 1px solid rgba(255, 255, 255, 0.4);
}

.navbar {
  position: relative;
  grid-area: navbar;
  outline: 1px solid rgba(255, 255, 255, 0.4);
}

.animation {
  grid-area: animation;
  outline: 1px solid rgba(255, 255, 255, 0.4);
}

.search-bar {
  grid-area: search;
  outline: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  padding: 10px;
}


.title {
  font-weight: 300;

  position: absolute;
  transform: translate(15px, -35px);

  background-color: rgb(0, 0, 0);
  top: 0;
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.55);

}

.hero-title{
  font-size: 50px;
  /* font-weight: 200; */
  

}

.splash-text{
  
  font-weight: 200;
  font-style: italic;
  margin-top: -40px;
  color: rgb(194, 194, 194);
}

.ascii{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65vw;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  font-family: monospace;
  font-size: 10px;
  line-height: 1.5;
  overflow: hidden;
  white-space: pre;
  /* text-shadow: 0 0 10px white; */

  z-index: -1; 

}
canvas{
  top:10%;
  width: 65vw!important;
  height: 70vh!important;
  display: flex!important; 
  flex-direction: column!important; 
  align-items: center!important; 
  justify-content: center!important; 

  background-color: black!important; 
  color: rgba(0, 0, 0, 0)!important; 
  font-family: monospace;
  font-size: 10px;
  line-height: 1.5;
  overflow: hidden;
  white-space: pre;
  /* text-shadow: 0 0 10px white; */
  position: fixed!important; 
  z-index: -1!important; 

}
.search-input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  /* border-radius: 4px; */
  padding: 5px 10px;
}

.search-icon {
  color: white;
  width: 18px;
  height: 18px;
  margin-right: 10px;
}


.iframeWindow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  border: 0;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  
}

#urlInput {
  background: transparent;
  border: none;
  color: white;
  font-size: 14px;
  width: 100%;
  outline: none;
}

#searchButton {
  display: none;
}

.search-input {
  background: transparent;
  border: none;
  color: white;
  font-size: 14px;
  width: 100%;
  outline: none;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

ul{
  margin-top: 2vh;
  margin-bottom: 2vh;
}

iframe[src*="widgetbot"] { 
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border: none;
}



.nav-link{
  color: white;
}

.nav-link:hover{
  background-color: blue;

}
.frame {
  position: relative;
}

.corner-icon {
  
  position: absolute;
  width: 1rem;
  height: 1rem;
  color: white;
}

.top-left {
  top: -8.5px;
  left: -8.5px;
}

.top-right {
  top: -8.5px;
  right: -8.5px;
}

.bottom-left {
  bottom: -8.5px;
  left: -8.5px;
}

.bottom-right {
  bottom: -8.5px;
  right: -8.5px;
}

