
.game-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 10px; */
    width: 100%;
  }
  
  .game-genre, .game-type {
    font-size: x-small;
    color: #ffffff95;
    border: 1px solid rgba(255, 255, 255, 0.268);
    margin: 0;
    padding: 1px;
    margin-top: 10px;
    
  }

  .spacer{
    margin: 0;
    color: #ffffff95;
    margin-top: 10px;
    font-size: 15px;
  }
  
  .game-title{
    font-size:larger;
    font-weight: 800;

    margin-top: 10px;
  }
  
  .card {
    cursor: pointer;
    width: 200px;
    height: 300px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.268);
    display: flex;
    flex-direction: column;
    position: relative;

    
  }
  
  .card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .corner-icon {
  
    position: absolute;
    width: 1rem;
    height: 1rem;
    color: white;
  }
  
  .top-left {
    top: -8.5px;
    left: -8.5px;
  }
  
  .top-right {
    top: -8.5px;
    right: -8.5px;
  }
  
  .bottom-left {
    bottom: -8.5px;
    left: -8.5px;
  }
  
  .bottom-right {
    bottom: -8.5px;
    right: -8.5px;
  }

  .navbar-game {
    position: fixed; /* Keeps the navbar fixed at the top */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #030303; /* Change to your desired color */
    color: white;
    padding: 3px;
    height: 3%;
    z-index: 9999; /* Ensures it's on top of other elements */
  }

  .full-page-iframe-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 97%;
    z-index: 9999; /* Ensure it's on top of other elements */
    overflow: hidden; /* Prevent scrollbars within the iframe */
  }
  
  .full-page-iframe {
    width: 100%;
    height: 100%;
  }