/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
*{
    font-family: "Roboto Mono", monospace;

} */
.game-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* gap: 10px; */
    width: 100%;
  }
  
  .game-genre, .game-type {
    border: 1px solid rgba(255, 255, 255, 0.268);
    margin: 0;
    margin-top: 10px;
  }

  .spacer{
    margin: 0;
    margin-top: 10px;

    /* margin-top: -5px; */
    /* margin-bottom: -30px; */
    /* border: 1px solid rgba(255, 255, 255, 0.268); */
    font-size: 21px;
  }
  
  .game-title{
    margin-top: 10px;
  }
  
  .card {
    cursor: pointer;
    width: 200px;
    height: 300px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.268);
    display: flex;
    flex-direction: column;
    position: relative;

    
  }
  
  .card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  .corner-icon {
  
    position: absolute;
    width: 1rem;
    height: 1rem;
    color: white;
  }
  
  .top-left {
    top: -8.5px;
    left: -8.5px;
  }
  
  .top-right {
    top: -8.5px;
    right: -8.5px;
  }
  
  .bottom-left {
    bottom: -8.5px;
    left: -8.5px;
  }
  
  .bottom-right {
    bottom: -8.5px;
    right: -8.5px;
  }