@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  font-family: 'JetBrains Mono', 'Consolas', 'Monaco', 'monospace';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #fff7e0;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}
