.navbar {
    /* position: fixed; */
    /* top: 120px; */
    /* left: 50%; */
    /* transform: translateY(-50%); */
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #00000057;
    backdrop-filter: blur(10px);
    outline: 2px solid rgb(128, 106, 55);
    outline-offset: -6px;
    z-index: 10000;
    margin-top: -3em;
    box-shadow: rgba(23, 23, 23, 0.25) 0px 25px 50px -12px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='5' cy='5' r='0.5' fill-opacity='0.3' fill='%23ffedc7'/%3E%3C/svg%3E");
    background-size: 15px 15px;
    background-repeat: repeat;
    background-blend-mode: overlay;
}

.nav-cyanide-button,
.nav-sulfur-button,
.nav-floride-button {
    text-decoration: none;
    
    padding: 8px 15px;
    border-radius: 7px;
    font-family: 'JetBrains Mono', 'Consolas', 'Monaco', 'monospace';
    font-weight: bold;
    color: #ffedc7;
    transition: background-color 0.3s, color 0.3s;
}

.nav-cyanide-button {
    /* background-color: #003366; */
}

.nav-sulfur-button {
    /* background-color: #666600; */
}

.nav-floride-button {
    /* background-color: #336600; */
}

.nav-cyanide-button:hover,
.nav-sulfur-button:hover,
.nav-floride-button:hover {
    background-color: #ffedc7;
    color: #000000;
}
