.status-bar {
    background-color: #28191193;
    color: rgb(223, 201, 151);
    padding: 5px 10px;
    border-top: 1px solid var(--md-sys-color-outline);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Consolas', 'Monaco', 'monospace';
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100vw - 10px); /* Subtract left+right margin */
    box-sizing: border-box;
    z-index: 10;
    backdrop-filter: blur(5px);
    margin: 5px;
}

.status-left {
    /* Styles for the left side content */
}

.status-right {
    /* Styles for the right side content */
}
